<html>
    <head>
        <title></title>
    </head>
    <body>
        <div style="text-align:center">
            <h1> Spottabl Backend Assignment </h1>
            <h2>
                College - Lovely Professional University<br>
                Name - Ankit Kumar<br>
                RegNo - 11907132<br>
            </h2>
            <form action="queryData" method="post">
                <button name="queryResult" value="queryResult">Download Output</button>
            </form>        
        </div>
    </body>
</html>